<!DOCTYPE html>
<html ng-app="RedditSearch">
<head lang="en">
    <meta charset="UTF-8">
    <title>Reddit search</title>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="RedditController.js"></script>
    <style type="text/css">
        .floated_img {
            float: left;
        }
    </style>
</head>
<body ng-controller="RedditController">
<div id="divInput">
    <form ng-submit="clearMessage(); getPhotoFeed(txtRedditUser)">
        <span>Twitter Id:</span><input type="text" id="txtRedditUser" ng-model="txtRedditUser" />
        <input type="checkbox" ng-model="chkDebug" />Debug?<br />
        <input type="submit" />
    </form>
</div>
<div id="divPictures">
    <div class="floated_img" ng-repeat="item in subreddit_list">
        <a href="{{item.url}}"><img ng-src="{{item.thumb_url}}"  class="floated_img" alt="reddit" height="150" width="150"/></a>
    </div>
    <a href="javascript:void(0);" ng-click="clearMessage();getPhotoFeed(txtRedditUser)">Next</a>
</div>
<div id="divDebug" style="color: Red; clear: both;" ng-bind-html="DebugOutput | unsafe">
</div>
</body>
</html>